In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math


movies = pd.read_table('Data/movie.metadata.tsv',names=['Wiki_ID','Freebase_ID','Name','Release_Date','Box_Office_Revenue','Length','language','Country','Genre'])
characters = pd.read_table('Data/character.metadata.tsv', names=['Wiki_ID','Freebase_ID','Release_Date','Name','Actor_Date_Of_Birth','Actor_Gender','Actor_Height','Actor_Ethnicity','Actor_Name','Actor_Age_At_Release','Freebase_Map','Freebase_Character_ID','Freebase_Actor_ID'])
#name = pd.read_csv('name.clusters.txt', sep="  ")
#summaries = pd.read_csv('plot_summaries.txt', sep=" ")

#test

In [113]:
from wikidata2df import wikidata2df

In [114]:
characters.sample(50)

,Wiki_ID,Freebase_ID,Release_Date,Name,Actor_Date_Of_Birth,Actor_Gender,Actor_Height,Actor_Ethnicity,Actor_Name,Actor_Age_At_Release,Freebase_Map,Freebase_Character_ID,Freebase_Actor_ID
114913,31777709,/m/0gtbg7x,2012-01-21,Ellen Miller,1946-10-04,F,1.7000,/m/09vc4s,Susan Sarandon,65.0,/m/0gtbg9q,/m/0k3rfk6,/m/01vwllw
152128,6210573,/m/0fwzfk,1953,NaN,1905-06-01,M,1.8300,NaN,Robert Newton,47.0,/m/0k4xn6,NaN,/m/0327tt
82272,23487733,/m/06w947h,2009-01-14,NaN,NaN,F,NaN,NaN,Tejashree,NaN,/m/06wk_bw,NaN,/m/0gq1rt
403255,412314,/m/0257s3,1988-09-10,NaN,1956-10-30,F,1.7020,/m/02w7gg,Juliet Stevenson,31.0,/m/0jxltz,NaN,/m/05qm5s
52142,10086955,/m/05c5w_y,1990-09-27,Fake Rabbi,NaN,M,NaN,NaN,Sergio Lerer,NaN,/m/0hnk7_y,/m/0hnk800,/m/0gbv3m6
80142,1266043,/m/04nhbz,2005-03-11,Jane Talley,1961-09-21,F,1.7000,NaN,Serena Scott Thomas,43.0,/m/0jzk7m,/m/0ghw30q,/m/07ptrh
411995,29640046,/m/0b3rv5d,1983,Ghaffar,NaN,NaN,NaN,NaN,Kamran Nozad,NaN,/m/0g9pz08,/m/0g9pyy4,/m/0g9pyy1
376274,22358819,/m/05szq8z,2010-03-26,Poseidon,NaN,NaN,NaN,NaN,NaN,NaN,/m/0j_thxj,/m/0bxsjf5,NaN
93275,32811775,/m/0h32yy8,2012-01-23,Stefanie,1990-09-08,F,NaN,NaN,Ella Rae Peck,21.0,/m/0hg4zbs,/m/0hg4z9n,/m/0gbz73_
77320,27168351,/m/0bwhmll,2005-09-25,NaN,1953-02-16,M,1.7500,NaN,Serge Houde,52.0,/m/0h9jbkx,NaN,/m/0g9gg43
448065,1618469,/m/05h345,1970,NaN,1935-10-29,M,NaN,NaN,Michael Jayston,34.0,/m/03jpzqh,NaN,/m/05nd5p
287396,24654407,/m/075nd37,2000,NaN,1959-08-21,F,NaN,NaN,Catherine Mouchet,40.0,/m/07wp036,NaN,/m/05b35mh
315565,19293805,/m/04lfhfq,2008-10-07,NaN,1942-03-02,M,1.6500,/m/041rx,Lou Reed,66.0,/m/0gxfll6,NaN,/m/03f0fnk
430443,3770927,/m/09_33n,2005-12-15,Kunlun,1972-03-07,M,1.8000,/m/01xhh5,Jang Dong-gun,33.0,/m/0k66k0,/m/0gj7bvh,/m/04dhn9
145993,4485641,/m/0c51by,1987-04-03,Lt. Proctor,1959-06-13,M,NaN,NaN,Lance Kinsey,27.0,/m/06whfl9,/m/09nb7lv,/m/0fgnhp
240588,354536,/m/01ksr4l,1974,Merlin,1940-07-07,M,1.6760,NaN,Ringo Starr,33.0,/m/02k8j97,/m/02nwmfl,/m/01vrnsk
267734,9633845,/m/02pmlhm,2005-05-26,Memé,NaN,F,NaN,NaN,Susana Lanteri,NaN,/m/0gb_4mh,/m/0glkhq9,/m/0gbz3sx
216755,25619875,/m/09v71cj,2011-03-16,Norah's Mom,1962,F,NaN,NaN,Kelly Coffield Park,49.0,/m/0hgc9wx,/m/0hgc9w_,/m/07h0r3
396990,20808370,/m/058rhb4,1956-11-01,Willamay,1902-03-08,F,NaN,/m/0x67,Louise Beavers,54.0,/m/0hnzdy5,/m/0hnzdy9,/m/054znp
194784,5589362,/m/0dv0dn,1989-05-19,NaN,1960-03-09,F,NaN,NaN,Finn Carter,29.0,/m/0cg34sd,NaN,/m/09n_4_
29429,31113422,/m/04n07rd,1983,NaN,1933-09-23,M,1.7546,NaN,Madhu,49.0,/m/0gh9r7h,NaN,/m/08_m50
309611,31968558,/m/04j0955,2007,NaN,1982-01-25,M,NaN,NaN,Don Li,24.0,/m/0gck76t,NaN,/m/0d0_5n
225088,25468602,/m/09rw1s1,2009,NaN,NaN,NaN,NaN,NaN,Ting-Ni Ma,NaN,/m/0gdnlh4,NaN,/m/0gdn1np
383647,25626519,/m/09v4ydq,1958-07,Hannuma,1929-11-11,F,NaN,NaN,Hend Rostom,NaN,/m/0d32s6v,/m/0d32s52,/m/0d6d6n
384695,7940609,/m/026kv_5,1974,NaN,NaN,NaN,NaN,NaN,Hidetoshi Kageyama,NaN,/m/0gc1xrw,NaN,/m/0gc1xr_
71191,905971,/m/03nnzk,1986-12-12,Dusty Bottoms,1943-10-08,M,1.9300,NaN,Chevy Chase,43.0,/m/0jshc_,/m/02nw959,/m/0p_jc
119315,25073384,/m/09g8c5y,2010-10-05,Bill 'Mac' McDonald,NaN,M,NaN,/m/02ctzb,Michael Joiner,NaN,/m/0gdf0gh,/m/0gdf0gl,/m/0gcy14j
388516,20232612,/m/04z_xpp,2007,The Baron,1942-10-26,M,1.6800,/m/09cqth,Bob Hoskins,64.0,/m/05t26bq,/m/0g_k8v3,/m/015vq_
167551,6858770,/m/0gsyht,1978,Manager,1950-03-18,M,NaN,NaN,Goundamani,27.0,/m/0h41x7v,/m/0h6z036,/m/05nqnp
182782,32985704,/m/0hntrsk,2011-10-09,Coach,1966-08-24,M,NaN,NaN,Ahn Gil-Gang,45.0,/m/0j1343m,/m/0j1343q,/m/0gtpl87
236343,26615730,/m/0bh89l_,1987,NaN,1967-05-15,F,1.6300,/m/0cqgdq,Madhuri Dixit,19.0,/m/0btmq4f,NaN,/m/01wttr1
258373,7276592,/m/025x_cz,NaN,Gabriel,1946-06-01,M,1.7600,/m/02g7sp,Brian Cox,NaN,/m/0h5kchq,/m/0h5kcht,/m/02xs5v
274114,10945488,/m/02qvsld,2008-10-16,Taverner,1949-04-12,M,NaN,NaN,Ota Jirák,59.0,/m/0lzs3s4,/m/0lzs3s7,/m/0gl3vmv
259551,27744247,/m/0cc796v,1987,NaN,NaN,NaN,NaN,NaN,Gary Maas,NaN,/m/0gcfp3j,NaN,/m/0gcfp3m
135883,33124,/m/08239,1957-12-26,"Mrs. Borg, Isak's Mother",1890-09-04,F,NaN,NaN,Naima Wifstrand,NaN,/m/0hgt8f_,/m/0hgt8g2,/m/02ww5tj
12933,26138037,/m/0b6f4md,1986-07-25,NaN,1952-12-10,F,1.7000,NaN,Susan Dey,33.0,/m/0b6tgn8,NaN,/m/016vy9
257735,28866199,/m/0ddck0d,1998,NaN,NaN,NaN,NaN,NaN,Chithra,NaN,/m/0g9k7pg,NaN,/m/0g9k7pk
387181,29129963,/m/0bj79n6,2010-05-18,Chanda,NaN,F,NaN,NaN,Khomotso Manyaka,NaN,/m/0bv8w4f,/m/0bv8w36,/m/0bv8w33
309418,7237679,/m/0kv1fn,NaN,NaN,NaN,M,NaN,NaN,Charles Craig,NaN,/m/0lb006z,NaN,/m/03xxw3k
3993,2780906,/m/082880,2007-04-13,Ryan,1978-09-21,M,1.7780,/m/044038p,Paulo Costanzo,28.0,/m/02vcd1x,/m/0g99kc3,/m/03vs3g
359783,11845883,/m/02rvdw8,2008-09-25,Barton Snode,1966-09-07,M,1.6500,/m/0d7wh,Toby Jones,42.0,/m/02vbbmh,/m/0hgs399,/m/071ywj
209372,1862086,/m/061xmy,2005-06-24,Gajrobai,1967-11-13,F,1.6000,/m/02sch9,Juhi Chawla,37.0,/m/0k1q07,/m/0h2j4xq,/m/047jhq
342092,4437520,/m/0c2c5c,2007-06-09,Sheriff,1963-07-13,M,1.8500,NaN,Kenny Johnson,43.0,/m/0hgwhpq,/m/0hgwjg9,/m/0c8f54
161768,3653877,/m/09sgjs,1952,NaN,1919-08-17,F,NaN,NaN,Nada Fiorelli,32.0,/m/0gc6s4x,NaN,/m/0gc2b0f
288271,29836774,/m/0fq1r_f,1977,John Doe,1926-02-11,M,1.8540,/m/0cnvdq1,Leslie Nielsen,50.0,/m/0gw1ygd,/m/0h1rzv2,/m/0fb7c
19541,20919420,/m/05b1jpc,1985,NaN,NaN,NaN,NaN,NaN,Rosie Logie,NaN,/m/0bq9q_8,NaN,/m/0bq9q_6
208407,21981842,/m/05p7w6k,1992-03-27,NaN,NaN,NaN,NaN,NaN,Nigel Ivy,NaN,/m/0gc54jx,NaN,/m/0gc54k0
346225,7029576,/m/0h129h,2005-01-23,NaN,NaN,NaN,NaN,NaN,Marc Scrivo,NaN,/m/0gc0hhc,NaN,/m/0gbzxq6
70540,16814368,/m/040763z,1922-12,NaN,1881-12-14,F,NaN,NaN,Katherine MacDonald,NaN,/m/04m5nw9,NaN,/m/09vm0b
288236,1144172,/m/04b2qn,2004-09-13,Christine Erganian,1970-07-21,F,NaN,NaN,Alysia Reiner,34.0,/m/0bntygq,/m/0bntygt,/m/02wzw8p

# NEW

In [115]:
US = '''
SELECT ?filmLabel ?actorLabel ?reviewLabel ?freebase_ID ?score_byLabel ?characterLabel ?methodLabel WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?film wdt:P31 wd:Q11424;
    wdt:P495 wd:Q30;
    wdt:P646 ?freebase_ID;
}
'''

In [116]:
US_film = wikidata2df(US)
US_film

      freebase_ID                     filmLabel
0      /m/0b__rwf                         Jaded
1      /m/03mbwl7               The Broken Coin
2        /m/01lsl                  Citizen Kane
3       /m/0h6sxf                      Rio Rita
4      /m/0b64xzm                    Pay or Die
...           ...                           ...
38371  /m/0_yvpsd            As High as the Sky
38372  /m/0gm160t    Bonnie & Clyde vs. Dracula
38373  /m/0_vxtn2                  Beijing Punk
38374  /m/0sxdlhk  The Haunting of Whaley House
38375  /m/0jkwsv6                     Antiviral

[38376 rows x 2 columns]

In [117]:
US_rev = '''
SELECT ?filmLabel ?actorLabel ?reviewLabel ?freebase_ID ?score_byLabel ?characterLabel ?methodLabel WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?film wdt:P31 wd:Q11424;
    wdt:P495 wd:Q30;
    wdt:P646 ?freebase_ID;
    p:P444 ?revieww.
    ?revieww ps:P444 ?review;
    pq:P447 ?score_by;
    pq:P459 ?method.
}
'''

In [118]:
US_film_rev = wikidata2df(US_rev)
US_film_rev

,freebase_ID,methodLabel,filmLabel,reviewLabel,score_byLabel
0,/m/05v4k9v,Rotten Tomatoes average rating,Blessed,6.8/10,Rotten Tomatoes
1,/m/0wxry4y,Rotten Tomatoes average rating,Buffalo Girls,6.8/10,Rotten Tomatoes
2,/m/04zy43q,Rotten Tomatoes average rating,Burning the Future: Coal in America,6.8/10,Rotten Tomatoes
3,/m/0b_rb7,Rotten Tomatoes average rating,Charlotte Sometimes,6.8/10,Rotten Tomatoes
4,/m/0fmkj_,Rotten Tomatoes average rating,Cinemania,6.8/10,Rotten Tomatoes
...,...,...,...,...,...
24103,/m/013db3tq,Tomatometer score,Being Charlie,23%,Rotten Tomatoes
24104,/m/0kvhzqd,Tomatometer score,Bad Santa 2,23%,Rotten Tomatoes
24105,/m/0zf5qpw,Tomatometer score,Expecting,23%,Rotten Tomatoes
24106,/m/0vp1ws_,Tomatometer score,Atomica,23%,Rotten Tomatoes
24107,/m/02j69w,Rotten Tomatoes average rating,Dazed and Confused,7.90/10,Rotten Tomatoes

In [119]:
US_film_rev_RTav = pd.DataFrame(US_film_rev[US_film_rev.methodLabel == 'Rotten Tomatoes average rating'][['freebase_ID','reviewLabel']])
US_film_rev_RTav.columns = ['freebase_ID','RT average']
US_film_rev_Ts = pd.DataFrame(US_film_rev[US_film_rev.methodLabel == 'Tomatometer score'][['freebase_ID','reviewLabel']])
US_film_rev_Ts.columns = ['freebase_ID','TS score']
US_film_rev_Ts = US_film_rev_Ts.set_index(['freebase_ID'])
US_film_rev_RTav = US_film_rev_RTav.set_index(['freebase_ID'])
US_film_rev_RTav

            RT average
freebase_ID
/m/05v4k9v      6.8/10
/m/0wxry4y      6.8/10
/m/04zy43q      6.8/10
/m/0b_rb7       6.8/10
/m/0fmkj_       6.8/10
...                ...
/m/05s_k2k      2.6/10
/m/02rpwt2      2.6/10
/m/0fbct3       2.6/10
/m/0130z4w7     2.6/10
/m/02j69w      7.90/10

[12044 rows x 1 columns]

In [120]:
US_film_rev_Ts

            TS score
freebase_ID
/m/03mm31        15%
/m/02rz1h5       15%
/m/03nr5vw       15%
/m/09bw4_        15%
/m/07sbq6c       15%
...              ...
/m/0125_5q5      23%
/m/013db3tq      23%
/m/0kvhzqd       23%
/m/0zf5qpw       23%
/m/0vp1ws_       23%

[12064 rows x 1 columns]

In [121]:
US_film_rev_tot = US_film_rev_Ts.merge(US_film_rev_RTav, left_index=True,right_index=True, how='left')
US_film_rev_tot

            TS score RT average
freebase_ID
/m/03mm31        15%     3.6/10
/m/02rz1h5       15%     3.5/10
/m/03nr5vw       15%     4.6/10
/m/09bw4_        15%       4/10
/m/07sbq6c       15%     3.9/10
...              ...        ...
/m/0125_5q5      23%     4.1/10
/m/013db3tq      23%     5.1/10
/m/0kvhzqd       23%     4.2/10
/m/0zf5qpw       23%     2.8/10
/m/0vp1ws_       23%     4.2/10

[12064 rows x 2 columns]

In [122]:
df_movie = pd.read_table('Data/movie.metadata.tsv',header=None)
df_movie.columns=['Wikipedia_movie_ID' , 'Freebase_movie_ID', 'Movie_name' , 'Movie_date' , 'Movie_revenue' , 'Movie_runtime' , 'Movie_languages' , 'Movie_countries' , 'Movie_genres']
df_movie['Movie_countries'] = df_movie['Movie_countries'].apply( lambda x: list(eval(x).values()))
df_movie['Movie_genres'] = df_movie['Movie_genres'].apply( lambda x: list(eval(x).values()) )


#Movie metadata of american movies
df_movie_usa = df_movie.loc[df_movie['Movie_countries'].explode().isin(['United States of America'])[df_movie['Movie_countries'].explode().isin(['United States of America'])].index]
df_movie_usa

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Movie_date,Movie_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]"
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...",[United States of America],"[Short Film, Silent film, Indie, Black-and-whi..."
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Musical, Comedy, Black-and-white]"
10,175026,/m/017n1p,Sarah and Son,1930,NaN,86.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Drama, Black-and-white]"
...,...,...,...,...,...,...,...,...,...
81725,1918494,/m/0660qx,State and Main,2000-08-26,6944471.0,106.0,"{""/m/02bjrlw"": ""Italian Language"", ""/m/02h40lc...","[France, United States of America]","[Parody, Americana, Comedy]"
81726,664006,/m/030xw6,Guilty as Sin,1993-06-04,22886222.0,107.0,{},[United States of America],"[Thriller, Erotic thriller, Psychological thri..."
81727,24209227,/m/07k5mlk,"The Time, the Place and the Girl",1946,NaN,105.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Comedy film, Romance Film, Musical]"
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],[Drama]
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Satire, Comedy]"

In [123]:
movies_review = df_movie_usa.merge(US_film_rev_tot, left_on = 'Freebase_movie_ID', right_index = True, how='left')
movies_review

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Movie_date,Movie_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres,TS score,RT average
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Thriller, Science Fiction, Horror, Adventure,...",22%,3.8/10
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]",NaN,NaN
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...",[United States of America],"[Short Film, Silent film, Indie, Black-and-whi...",NaN,NaN
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Musical, Comedy, Black-and-white]",80%,7/10
10,175026,/m/017n1p,Sarah and Son,1930,NaN,86.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Drama, Black-and-white]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
81725,1918494,/m/0660qx,State and Main,2000-08-26,6944471.0,106.0,"{""/m/02bjrlw"": ""Italian Language"", ""/m/02h40lc...","[France, United States of America]","[Parody, Americana, Comedy]",85%,7.3/10
81726,664006,/m/030xw6,Guilty as Sin,1993-06-04,22886222.0,107.0,{},[United States of America],"[Thriller, Erotic thriller, Psychological thri...",38%,5.3/10
81727,24209227,/m/07k5mlk,"The Time, the Place and the Girl",1946,NaN,105.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Comedy film, Romance Film, Musical]",NaN,NaN
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],[Drama],NaN,NaN
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Satire, Comedy]",NaN,NaN

In [150]:
box_office = '''
SELECT ?freebase_ID ?Box_office WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?film wdt:P31 wd:Q11424;
    wdt:P495 wd:Q30;
    wdt:P646 ?freebase_ID;
    wdt:P2142 ?Box_office.
}
'''

In [151]:
wikidata2df(box_office)

      freebase_ID Box_office
0       /m/0dm4k3       1800
1      /m/0gx9b5m       4975
2      /m/0cc74xq      20183
3      /m/0272qjg       5342
4      /m/0jkwsv6     61.808
...           ...        ...
1981  /m/010fl0v_  474009154
1982  /m/010b8p1w  532950503
1983  /m/0113z663  490664238
1984   /m/0t_7k53  515202542
1985    /m/01gwk3  433371112

[1986 rows x 2 columns]

In [152]:
df_movie_usa[df_movie_usa.Movie_revenue.notna()]

,Wikipedia_movie_ID,Freebase_movie_ID,Movie_name,Movie_date,Movie_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Thriller, Science Fiction, Horror, Adventure,..."
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Musical, Comedy, Black-and-white]"
17,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Children's/Family, Musical, Fantasy, Comedy, ..."
21,612710,/m/02wjqm,New Rose Hotel,1999-10-01,21521.0,92.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Thriller, Science Fiction, Future noir, Indie..."
29,156558,/m/014k4y,Baby Boy,2001-06-27,29381649.0,123.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Crime Fiction, Drama, Coming of age]"
...,...,...,...,...,...,...,...,...,...
81677,6740261,/m/0glmbl,Eternally Yours,1939-10-07,683131.0,91.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Family Drama, Black-and-white, Drama, Comedy,..."
81695,54540,/m/0f7hw,Coming to America,1988-06-29,288752301.0,117.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Romantic comedy, Comedy of manners, Drama, Co..."
81720,7761830,/m/0kvgqb,Spaced Invaders,1990,15369573.0,100.0,"{""/m/02h40lc"": ""English Language""}",[United States of America],"[Alien Film, Science Fiction, Family Film, Com..."
81725,1918494,/m/0660qx,State and Main,2000-08-26,6944471.0,106.0,"{""/m/02bjrlw"": ""Italian Language"", ""/m/02h40lc...","[France, United States of America]","[Parody, Americana, Comedy]"
81726,664006,/m/030xw6,Guilty as Sin,1993-06-04,22886222.0,107.0,{},[United States of America],"[Thriller, Erotic thriller, Psychological thri..."

In [127]:
from wikidata2df import wikidata2df

In [128]:
actor = '''
SELECT ?filmLabel ?actorLabel ?reviewLabel ?freebase_ID ?score_byLabel ?characterLabel ?methodLabel WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?film wdt:P31 wd:Q11424;
    wdt:P495 wd:Q30;
    wdt:P646 ?freebase_ID;
    p:P161 ?actorr.
    ?actorr ps:P161 ?actor;
    pq:P4633 ?character.
}

'''

In [129]:
US_film_actor = wikidata2df(actor)
US_film_actor

,characterLabel,freebase_ID,filmLabel,actorLabel
0,Richard Nixon,/m/0bdjd,Forrest Gump,Joe Alaskey
1,AK,/m/0x25q,The Matrix Reloaded,Robert Mammone
2,AK,/m/01dyvs,The Matrix Revolutions,Robert Mammone
3,Moose,/m/0bmhn,On the Waterfront,Rudy Bond
4,Vikings,/m/062zjtt,Thor,Kelly Hawthorne
...,...,...,...,...
14673,"Lt. Charles ""Chipper"" Piper",/m/018js4,Top Gun,Adrian Pasdar
14674,LTJG Nick 'Goose' Bradshaw,/m/018js4,Top Gun,Anthony Edwards
14675,Lt. Rick 'Hollywood' Neven,/m/018js4,Top Gun,Whip Hubley
14676,Carole Bradshaw,/m/018js4,Top Gun,Meg Ryan
14677,Malcolm Hilyard,/m/04jj614,Lady in a Cage,William Swan

In [130]:
US_film_actor[US_film_actor.freebase_ID=='/m/0bdjd']

,characterLabel,freebase_ID,filmLabel,actorLabel
0,Richard Nixon,/m/0bdjd,Forrest Gump,Joe Alaskey
2489,John F. Kennedy,/m/0bdjd,Forrest Gump,Jed Gillin
2752,Forrest Gump,/m/0bdjd,Forrest Gump,Tom Hanks
2753,John Lennon,/m/0bdjd,Forrest Gump,Joe Stefanelli
2962,Elvis,/m/0bdjd,Forrest Gump,Peter Dobson
3071,Lyndon B. Johnson,/m/0bdjd,Forrest Gump,John William Galt
4215,Wesley,/m/0bdjd,Forrest Gump,Geoffrey Blake
5070,Dorothy Harris,/m/0bdjd,Forrest Gump,Siobhan Fallon Hogan
6296,Jenny Curran,/m/0bdjd,Forrest Gump,Robin Wright
7236,Abbie Hoffman,/m/0bdjd,Forrest Gump,Richard D'Alessandro
12221,himself,/m/0bdjd,Forrest Gump,Dick Cavett
12349,Forrest Gump Jr.,/m/0bdjd,Forrest Gump,Haley Joel Osment
12350,young Jenny Curran,/m/0bdjd,Forrest Gump,Hanna R. Hall
12351,Elvis voice,/m/0bdjd,Forrest Gump,Kurt Russell
12352,Lieutenant Dan Taylor,/m/0bdjd,Forrest Gump,Gary Sinise
12353,"Benjamin Buford ""Bubba"" Blue",/m/0bdjd,Forrest Gump,Mykelti Williamson
12354,"Coach Paul ""Bear"" Bryant",/m/0bdjd,Forrest Gump,Sonny Shroyer
12355,Principal Hancock,/m/0bdjd,Forrest Gump,Sam Anderson
12356,the Black Panthers,/m/0bdjd,Forrest Gump,Michael Jace
12357,Mrs. Gump,/m/0bdjd,Forrest Gump,Sally Field
12358,young Forrest Gump,/m/0bdjd,Forrest Gump,Michael Conner Humphreys
13038,the Black Panthers,/m/0bdjd,Forrest Gump,Grand L. Bush

In [131]:
US_film_actor.freebase_ID.value_counts()

/m/0k4kk       114
/m/04v89z      106
/m/0cc846d     105
/m/0bc1yhb     104
/m/0126b8kv    100
              ...
/m/0bfy61        1
/m/064m1bf       1
/m/0bx_n6t       1
/m/0d90m         1
/m/0gkr7nx       1
Name: freebase_ID, Length: 874, dtype: int64

In [132]:
actor2 = '''
SELECT ?filmLabel ?actorLabel ?reviewLabel ?freebase_ID ?score_byLabel ?characterLabel ?methodLabel WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?film wdt:P31 wd:Q11424;
    wdt:P495 wd:Q30;
    wdt:P646 ?freebase_ID;
    p:P161 ?actorr.
    ?actorr ps:P161 ?actor;
    pq:P4633 ?character.
}

'''

In [133]:
wikidata2df(actor2)

,characterLabel,freebase_ID,filmLabel,actorLabel
0,Richard Nixon,/m/0bdjd,Forrest Gump,Joe Alaskey
1,AK,/m/0x25q,The Matrix Reloaded,Robert Mammone
2,AK,/m/01dyvs,The Matrix Revolutions,Robert Mammone
3,Moose,/m/0bmhn,On the Waterfront,Rudy Bond
4,Vikings,/m/062zjtt,Thor,Kelly Hawthorne
...,...,...,...,...
14673,"Lt. Charles ""Chipper"" Piper",/m/018js4,Top Gun,Adrian Pasdar
14674,LTJG Nick 'Goose' Bradshaw,/m/018js4,Top Gun,Anthony Edwards
14675,Lt. Rick 'Hollywood' Neven,/m/018js4,Top Gun,Whip Hubley
14676,Carole Bradshaw,/m/018js4,Top Gun,Meg Ryan
14677,Malcolm Hilyard,/m/04jj614,Lady in a Cage,William Swan

In [134]:
actor_rank = '''
SELECT ?filmLabel ?actorLabel ?reviewLabel ?freebase_ID ?score_byLabel ?rankLabel ?roleLabel WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?film wdt:P31 wd:Q11424;
    wdt:P495 wd:Q30;
    wdt:P646 ?freebase_ID;
    p:P161 ?actorr.
    ?actorr ps:P161 ?actor;
    pq:P4633 ?role;
    pq:P1545 ?rank.
}

'''

In [135]:
rank = wikidata2df(actor_rank)
rank

,roleLabel,freebase_ID,filmLabel,rankLabel,actorLabel
0,Vikings,/m/062zjtt,Thor,46,Kelly Hawthorne
1,Vikings,/m/062zjtt,Thor,43,Hilary Pingle
2,Vikings,/m/062zjtt,Thor,44,Shawn-Caulin Young
3,Vikings,/m/062zjtt,Thor,45,Kinsey McLean
4,Lawyer,/m/0f8t7l,Firestorm,17,Terence Kelly
...,...,...,...,...,...
1645,Grigori Babishkov,/m/010x0bsw,Mercenaries,7,Tim Abell
1646,Jerrod,/m/010x0bsw,Mercenaries,15,Kevin Fry
1647,Rose Lorkowski,/m/03cvx8t,Sunshine Cleaning,1,Amy Adams
1648,Norah Lorkowski,/m/03cvx8t,Sunshine Cleaning,2,Emily Blunt
1649,Matt Kittridge,/m/0cs479v,Army of the Dead,7,Vic Browder

In [136]:
rank.freebase_ID.value_counts()

/m/0cc846d     104
/m/0bc1yhb     104
/m/0126b8kv    100
/m/0125zrjx     97
/m/0n15g8q      66
              ...
/m/0cs_79        2
/m/07hr8w        2
/m/03cw4fs       1
/m/0121_y0v      1
/m/03cvypj       1
Name: freebase_ID, Length: 67, dtype: int64

In [137]:
characters

,Wiki_ID,Freebase_ID,Release_Date,Name,Actor_Date_Of_Birth,Actor_Gender,Actor_Height,Actor_Ethnicity,Actor_Name,Actor_Age_At_Release,Freebase_Map,Freebase_Character_ID,Freebase_Actor_ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [138]:
gender = '''
SELECT ?Freebase_Actor_ID ?genderLabel WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?film wdt:P31 wd:Q5;
    wdt:P106 wd:Q33999;
    wdt:P21 ?gender;
    wdt:P646 ?Freebase_Actor_ID.
}
'''

In [139]:
gend_DF = wikidata2df(gender)
gend = gend_DF.copy()
gend.genderLabel.value_counts()

male                59590
female              45134
trans woman            90
non-binary             37
genderfluid            11
trans man              11
intersex                2
travesti                1
intersex person         1
cisgender female        1
bigender                1
genderqueer             1
two-spirit              1
third gender            1
Name: genderLabel, dtype: int64

In [140]:
gend.loc[gend.genderLabel == 'male', 'genderLabel'] = 'M'
gend.loc[gend.genderLabel == 'female', 'genderLabel'] = 'F'

In [141]:
gend

       Freebase_Actor_ID genderLabel
0             /m/0g9s_x6           F
1             /m/02x26z7           M
2              /m/06688p           M
3             /m/0nfk0cl           M
4               /m/05kh_           M
...                  ...         ...
104877        /m/0x1w6n_           M
104878        /m/0wz0rg_           F
104879        /m/0w_t8pr           M
104880        /m/0k07mcb           M
104881        /m/0zgg6pv           M

[104882 rows x 2 columns]

In [142]:
characters = characters.merge(gend, on = 'Freebase_Actor_ID', how='left')
characters = chara.loc[chara.Freebase_Map.drop_duplicates().index]

In [143]:
chara['Actor_Gender'] = chara.genderLabel.fillna(chara.Actor_Gender)
chara = chara.drop(columns=['genderLabel'])
chara

,Wiki_ID,Freebase_ID,Release_Date,Name,Actor_Date_Of_Birth,Actor_Gender,Actor_Height,Actor_Ethnicity,Actor_Name,Actor_Age_At_Release,Freebase_Map,Freebase_Character_ID,Freebase_Actor_ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450804,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv
450805,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j
450806,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44
450807,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm
450808,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d

In [156]:
ethnicity = '''
SELECT ?ethnicLabel ?Freebase WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?ethnic wdt:P31 wd:Q28790362;
    wdt:P646 ?Freebase.
}
'''

In [157]:
ethnicity2 = '''
SELECT ?ethnicLabel ?Freebase WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  ?ethnic wdt:P31 wd:Q41710;
    wdt:P646 ?Freebase.
}
'''

In [158]:
ethnic = pd.concat([wikidata2df(ethnicity),wikidata2df(ethnicity2)])

In [165]:
charactersfinal = chara.merge(ethnic, left_on = 'Actor_Ethnicity', right_on = 'Freebase', how = 'left').drop(columns = ['Freebase'])
charactersfinal = charactersfinal.loc[charactersfinal.Freebase_Map.drop_duplicates().index]
charactersfinal = charactersfinal.reset_index()
charactersfinal

,index,Wiki_ID,Freebase_ID,Release_Date,Name,Actor_Date_Of_Birth,Actor_Gender,Actor_Height,Actor_Ethnicity,Actor_Name,Actor_Age_At_Release,Freebase_Map,Freebase_Character_ID,Freebase_Actor_ID,ethnicLabel
0,0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,NaN
1,1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,NaN
2,2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,African Americans
3,3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,NaN
4,4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450664,451466,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,/m/0kr406h,/m/0b_vcv,NaN
450665,451467,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,/m/0kr4090,/m/0bx7_j,NaN
450666,451468,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,NaN,/m/022g44,English people
450667,451469,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN,/m/0g8ngmm,NaN
450668,451470,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN,/m/0btz19d,NaN