In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math


movies = pd.read_table('movie.metadata.tsv',names=['Wiki_ID','Freebase_ID','Name','Release_Date','Box_Office_Revenue','Length','language','Country','Genre'])
characters = pd.read_table('character.metadata.tsv', names=['Wiki_ID','Freebase_ID','Release_Date','Name','Actor_Date_Of_Birth','Actor_Gender','Actor_Height','Actor_Ethnicity','Actor_Name','Actor_Age_At_Release','Freebase_Map','Freebase_Character_ID','Freebase_Actor_ID'])
#name = pd.read_csv('name.clusters.txt', sep="  ")
#summaries = pd.read_csv('plot_summaries.txt', sep=" ")

movies

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Length,language,Country,Genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
81736,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}"
81737,34980460,/m/0g4pl34,Knuckle,2011-01-21,NaN,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/03rt9"": ""Ireland"", ""/m/07ssc"": ""United Ki...","{""/m/03bxz7"": ""Biographical film"", ""/m/07s9rl0..."
81738,9971909,/m/02pygw1,Another Nice Mess,1972-09-22,NaN,66.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06nbt"": ""Satire"", ""/m/01z4y"": ""Comedy""}"
81739,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ..."
81740,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""..."

In [12]:
a=pd.DataFrame(characters[characters.Actor_Name=='Scarlett Johansson']['Wiki_ID'])
a

         Wiki_ID
6817    22144721
6838    22144721
11665   11723307
14984    1599839
56043    5959715
74406   20179720
93284    5649318
147852   2706589
158116   1960065
164866   3524655
170194   1189614
203540   2032945
205845   2529009
207903  29373289
217762  10780993
235465    369682
252366   4410141
278745    956388
309312    939203
321825   1068520
333452    695249
347198    970386
348272   6340115
364017   1195543
369930   6961461
371369  22114132
371370  22114132
376336    601923
379139   6029546
382967    698969
383808  13229264
402107   2809621
414491    241052

In [13]:
movies[movies.Name=='Batman']

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Length,language,Country,Genre
4253,4727,/m/01hpp,Batman,1966-07-30,NaN,104.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0gf28"": ""Parody"", ""/m/04pbhw"": ""Superhero..."
22790,8915540,/m/027phbc,Batman,1943,NaN,NaN,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/05swd"": ""Propaganda film"", ""/m/01g6gs"": ""..."
55165,4726,/m/01hp5,Batman,1989-06-19,411348924.0,126.0,"{""/m/064_8sq"": ""French Language"", ""/m/02h40lc""...","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th..."

In [14]:
characters[characters.Name=='Batman']

,Wiki_ID,Freebase_ID,Release_Date,Name,Actor_Date_Of_Birth,Actor_Gender,Actor_Height,Actor_Ethnicity,Actor_Name,Actor_Age_At_Release,Freebase_Map,Freebase_Character_ID,Freebase_Actor_ID
25371,16902911,/m/0411ph8,2007,Batman,NaN,NaN,NaN,NaN,Maxwell Allen,NaN,/m/0h0zm5m,/m/01d5g,/m/0g4f599
35948,26340083,/m/0bbxwx5,2010-07-27,Batman,1956-08-12,M,1.80,/m/044038p,Bruce Greenwood,53.0,/m/0bd46jp,/m/01d5g,/m/01yfm8
47853,24353804,/m/07s7m20,2010,Batman,1963-02-21,M,1.87,NaN,William Baldwin,46.0,/m/07ss96y,/m/01d5g,/m/018yj6
63399,162147,/m/015j5s,1967-06-03,Batman,1941-09-17,M,NaN,NaN,Jing Abalos,25.0,/m/03jp7wh,/m/01d5g,/m/09pgfj
63694,29075630,/m/0bpm4yw,2012-07-16,Batman,1974-01-30,M,1.83,/m/02w7gg,Christian Bale,38.0,/m/0bpm5w7,/m/01d5g,/m/01wy5m
81711,7359078,/m/0kv5vz,2005-05-05,Batman,1968-11-05,M,1.75,NaN,Sam Rockwell,36.0,/m/02vcbgg,/m/01d5g,/m/04wp3s
94576,4730,/m/01hr1,1995-06-09,Batman,1959-12-31,M,1.83,/m/07bch9,Val Kilmer,35.0,/m/02wk6fh,/m/01d5g,/m/0d_84
153462,311765,/m/01t8m2,1993-12-25,Batman,1955-11-30,M,NaN,NaN,Kevin Conroy,38.0,/m/0jv2nh,/m/01d5g,/m/03s_sz
189697,5683113,/m/0dzz6g,2003-01-20,Batman,NaN,M,NaN,NaN,Joe Krajcar,NaN,/m/0gj68df,/m/01d5g,/m/0gj68b4
231733,29097142,/m/0dlk_qn,2013-01-25,Batman,1975-09-18,M,1.85,/m/02ctzb,Jason Sudeikis,37.0,/m/0gyl22z,/m/01d5g,/m/06cddt
239783,33240946,/m/0hy_s2x,2012-02-28,Batman,1955-11-30,M,NaN,NaN,Kevin Conroy,56.0,/m/0j2ps42,/m/01d5g,/m/03s_sz
245835,17726219,/m/0479qny,2008-08-29,Batman,1977-02-18,M,NaN,NaN,Ike Barinholtz,31.0,/m/0hgzjcb,/m/01d5g,/m/09br2g
292904,4729,/m/01hqk,1997-06-12,Batman,1961-05-06,M,1.80,/m/033tf_,George Clooney,36.0,/m/0jv293,/m/01d5g,/m/014zcr
293012,4728,/m/01hq1,1992-06-16,Batman,1951-09-05,M,1.78,/m/07bch9,Michael Keaton,40.0,/m/02wk6f4,/m/01d5g,/m/01j5ws
312456,4056040,/m/0bfvwf,2005-03-12,Batman,1949-05-24,M,1.87,/m/02w7gg,Jim Broadbent,55.0,/m/040rq70,/m/0jgrwlq,/m/01nwwl
320117,4276475,/m/0btpm6,2008-07-16,Batman,1974-01-30,M,1.83,/m/02w7gg,Christian Bale,34.0,/m/02wk6hd,/m/01d5g,/m/01wy5m
377615,4726,/m/01hp5,1989-06-19,Batman,1951-09-05,M,1.78,/m/07bch9,Michael Keaton,37.0,/m/02wk6dq,/m/01d5g,/m/01j5ws
377796,4727,/m/01hpp,1966-07-30,Batman,1928-09-19,M,1.88,NaN,Adam West,37.0,/m/0jv25f,/m/01d5g,/m/01pm0_
399601,6203432,/m/0fwlk8,2005-01,Batman,1928-09-19,M,1.88,NaN,Adam West,NaN,/m/02tb9_k,/m/01d5g,/m/01pm0_
438522,5555253,/m/0dsb4b,1999-05-14,Batman,1964-04-25,M,1.91,NaN,Vince Offer,35.0,/m/0hgtlkq,/m/0j6qr0b,/m/047t1_c
439669,13375677,/m/0h51wq9,2011-10-18,Batman,1978-09-12,M,1.74,NaN,Benjamin McKenzie,33.0,/m/0h2kcl2,/m/01d5g,/m/02t244
441236,481605,/m/02fqrf,2005-06-10,Batman,1974-01-30,M,1.83,/m/02w7gg,Christian Bale,31.0,/m/02wk6gw,/m/01d5g,/m/01wy5m

In [15]:
pd.set_option("display.max_rows", 50, "display.max_columns", 50)
movies.dropna(subset=['Box_Office_Revenue']).sort_values(by=['Box_Office_Revenue'])

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Length,language,Country,Genre
35178,28223867,/m/07l4_10,"Hugh Hefner: Playboy, Activist and Rebel",2010-07-30,1.000000e+04,135.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/0hj3n07"": ""Culture & Society"", ""/m/017fp""..."
51695,29085210,/m/0dll0nz,GhettoPhysics,2010,1.020000e+04,NaN,{},{},"{""/m/0cshrf"": ""Political cinema"", ""/m/0jtdp"": ..."
53942,33895664,/m/07k983r,Logan,2010,1.047400e+04,NaN,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/0hqxf"": ""Family Film"", ""/m/07s9rl0"": ""Dra..."
31550,15904586,/m/03qfnkx,Fighting Tommy Riley,2005-05-06,1.051400e+04,109.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hn10"": ""LGBT"", ""/m/01z02hx"": ""Sports"", ""..."
56050,20122638,/m/04yft1h,Frankie and Alice,2010-12-10,1.067000e+04,101.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/017fp"": ""Biography"", ""/m/07s9rl0"": ""Drama""}"
...,...,...,...,...,...,...,...,...,...
18645,25001260,/m/0872p_c,Transformers: Dark of the Moon,2011-06-23,1.123747e+09,157.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3mt0"": ""Alien Film"", ""/m/06n90"": ""Scie..."
30278,31941988,/m/0gvsynb,Harry Potter and the Deathly Hallows – Part 2,2011-07-07,1.328111e+09,130.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/07s9rl0"": ""Drama"", ""/m/02n4kr"": ""Mystery""..."
28192,22114132,/m/062zm5h,The Avengers,2012-04-11,1.511758e+09,137.0,"{""/m/06b_j"": ""Russian Language"", ""/m/02h40lc"":...","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/02kdv5l"": ..."
22256,52371,/m/0dr_4,Titanic,1997-11-01,2.185372e+09,194.0,"{""/m/02bjrlw"": ""Italian Language"", ""/m/02h40lc...","{""/m/09c7w0"": ""United States of America""}","{""/m/0fx2s"": ""Tragedy"", ""/m/04xvh5"": ""Costume ..."
23702,4273140,/m/0bth54,Avatar,2009-12-10,2.782275e+09,178.0,"{""/m/02h40lc"": ""English Language"", ""/m/06nm1"":...","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."

In [16]:
characters[characters.Actor_Name=='Daniel Craig']

,Wiki_ID,Freebase_ID,Release_Date,Name,Actor_Date_Of_Birth,Actor_Gender,Actor_Height,Actor_Ethnicity,Actor_Name,Actor_Age_At_Release,Freebase_Map,Freebase_Character_ID,Freebase_Actor_ID
10572,4972125,/m/0cxw2d,1998-09-16,George Dyer,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,30.0,/m/0gx91m5,/m/0lqs03w,/m/04shbh
23691,503161,/m/02j48l,2003,Ted Hughes,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,34.0,/m/0k40td,/m/02nw8sw,/m/04shbh
25311,11744739,/m/02rqx5y,NaN,Ray,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,NaN,/m/02vd0wb,/m/0gx91h_,/m/04shbh
57877,15349469,/m/03m5vzd,2008-12-13,Tuvia Bielski,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,40.0,/m/040nkxv,/m/0dh092w,/m/04shbh
60438,7883438,/m/026hh0m,2007-08-17,Ben Driscoll,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,39.0,/m/02h7bc8,/m/0hmzlq7,/m/04shbh
65462,11400848,/m/02rb84n,2011-10-23,Red Rackham,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,43.0,/m/05nr38z,/m/0d1b78,/m/04shbh
86180,1102360,/m/0464d7,2004-09-04,Joe,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,36.0,/m/0jxw1j,/m/0bky8jg,/m/04shbh
91031,1572988,/m/05ch98,2005-01-23,Rudy Mackenzie,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,36.0,/m/0k5hy9,/m/0c1q1md,/m/04shbh
92422,8175804,/m/026v977,1993-05-12,Berry,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,25.0,/m/0gx91x2,/m/0gx91x4,/m/04shbh
105924,1044633,/m/0413tm,2004-10-01,XXXX,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,36.0,/m/0j_tjq,/m/03x15dz,/m/04shbh
113427,342741,/m/01y9r2,2002-07-12,Connor Rooney,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,34.0,/m/0k2ljz,/m/0bd6cvc,/m/04shbh
116214,26252728,/m/0cc5mcj,2011-07-29,Jake Lonergan,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,43.0,/m/0bq7lwg,/m/0bq7lw4,/m/04shbh
126382,19068544,/m/04jm4c9,1998,James Lynchehaun,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,29.0,/m/04j2w5z,/m/0gx91kf,/m/04shbh
145037,1128444,/m/048qfd,2003-11-14,Darren,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,35.0,/m/0k5ynj,/m/0gx91h8,/m/04shbh
154489,6320176,/m/0g0wx7,1999,Sgt. Telford Winter,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,30.0,/m/03js842,/m/0gx91l1,/m/04shbh
182499,2811692,/m/0847m1,2006-10-13,Perry Smith,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,38.0,/m/03jrs92,/m/0cvbctk,/m/04shbh
185537,24416802,/m/07s6472,2000,Ronald Blanche,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,31.0,/m/0ggdh0r,/m/0gx91hs,/m/04shbh
208414,21981842,/m/05p7w6k,1992-03-27,Sgt. Botha,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,24.0,/m/0gx91zw,/m/0gx91zy,/m/04shbh
215221,1355085,/m/04w7rn,2007-11-27,Lord Asriel,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,39.0,/m/02vbblr,/m/03hfqb,/m/04shbh
215295,12252836,/m/02vxq9m,2012-10-23,James Bond,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,44.0,/m/0gwhydl,/m/0clpml,/m/04shbh
242620,18608517,/m/09v84yn,2002,Werner Heisenberg,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,33.0,/m/09vnmny,/m/0fprnrs,/m/04shbh
255191,49800,/m/0d6_s,2001-06-15,Alex West,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,33.0,/m/02tbd5z,/m/0cm6937,/m/04shbh
270260,1693901,/m/05nyv3,1997,Guillaumet,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,28.0,/m/0gx91s4,/m/0gx91s6,/m/04shbh
274684,28387289,/m/0dgq_kn,2011-12-21,Mikael Blomkvist,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,43.0,/m/0cv8jyw,/m/0c01td_,/m/04shbh
282911,32358656,/m/039q43,2000-05-05,Declan Fielding,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,32.0,/m/04q5_xq,/m/0cqs_yz,/m/04shbh
288745,2969247,/m/08gsvw,2008-10-29,James Bond,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,40.0,/m/03hqwg_,/m/0clpml,/m/04shbh
290781,930379,/m/03r0g9,2006-11-14,James Bond,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,38.0,/m/02hw79s,/m/0clpml,/m/04shbh
298141,28224334,/m/0cn_srj,2011-09-30,Will Atenton,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,43.0,/m/0gw57z9,/m/0gw51m4,/m/04shbh
301869,2311219,/m/072x7s,2005-12-23,Steve,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,37.0,/m/0k0yjz,/m/0gct6p3,/m/04shbh
331835,286852,/m/01q41m,1995-08-11,Master Kane,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,27.0,/m/0jssg1,/m/0gx91v2,/m/04shbh
364486,2422739,/m/07b_j6,2005,US Army Sergeant,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,36.0,/m/0gx91gx,/m/0gx91gz,/m/04shbh
374152,142461,/m/011yr9,1998-11-06,John Ballard,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,30.0,/m/02vbxj6,/m/0gx91lz,/m/04shbh
383718,16451841,/m/03y4nzy,2008-04-18,Adult Joe Scot,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,40.0,/m/04dgb7k,/m/0gx91fr,/m/04shbh
409944,4408863,/m/0c0pwb,2006-03-15,Barthélémy Karas,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,38.0,/m/03jp9vn,/m/0gx91g1,/m/04shbh
431834,27837500,/m/0g4p4s1,1997,John MacHale,1968-03-02,M,1.78,/m/04_bc8,Daniel Craig,28.0,/m/0ccf42h,/m/0gx91lr,/m/04shbh

In [17]:
convert = pd.read_csv('fb2w.nt', sep=" ")

/var/folders/yv/q6fl_nv53dv6l2kfbv_6jc680000gn/T/ipykernel_48518/2487994969.py:1: DtypeWarning: Columns (2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  convert = pd.read_csv('fb2w.nt', sep=" ")

In [18]:
convert

,#,Mapping,of,Freebase,entities,to,Wikidata,entities.1
0,#,Published,under,CC0,http://creativecommons.org/publicdomain/zero/1.0/,NaN,NaN,NaN
1,#,Published,by,"Google,",November,2013.0,NaN,NaN
2,<http://rdf.freebase.com/ns/m.0695j>\t<http://...,.,NaN,NaN,NaN,NaN,NaN,NaN
3,<http://rdf.freebase.com/ns/m.05nrg>\t<http://...,.,NaN,NaN,NaN,NaN,NaN,NaN
4,<http://rdf.freebase.com/ns/m.0jgd>\t<http://w...,.,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2099579,<http://rdf.freebase.com/ns/m.04mzslb>\t<http:...,.,NaN,NaN,NaN,NaN,NaN,NaN
2099580,<http://rdf.freebase.com/ns/m.05zx856>\t<http:...,.,NaN,NaN,NaN,NaN,NaN,NaN
2099581,<http://rdf.freebase.com/ns/m.0cc5zk5>\t<http:...,.,NaN,NaN,NaN,NaN,NaN,NaN
2099582,<http://rdf.freebase.com/ns/m.02x3sv_>\t<http:...,.,NaN,NaN,NaN,NaN,NaN,NaN
2099583,<http://rdf.freebase.com/ns/m.0h65lc7>\t<http:...,.,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
convert = convert[2:]

In [20]:
convert = pd.DataFrame(convert['#'])

In [21]:
convert

                                                         #
2        <http://rdf.freebase.com/ns/m.0695j>\t<http://...
3        <http://rdf.freebase.com/ns/m.05nrg>\t<http://...
4        <http://rdf.freebase.com/ns/m.0jgd>\t<http://w...
5        <http://rdf.freebase.com/ns/m.0d_23>\t<http://...
6        <http://rdf.freebase.com/ns/m.04g7d>\t<http://...
...                                                    ...
2099579  <http://rdf.freebase.com/ns/m.04mzslb>\t<http:...
2099580  <http://rdf.freebase.com/ns/m.05zx856>\t<http:...
2099581  <http://rdf.freebase.com/ns/m.0cc5zk5>\t<http:...
2099582  <http://rdf.freebase.com/ns/m.02x3sv_>\t<http:...
2099583  <http://rdf.freebase.com/ns/m.0h65lc7>\t<http:...

[2099582 rows x 1 columns]

In [22]:
convert[['freebase','w3','wikidata']] = convert['#'].str.split("\t",expand=True,)

In [23]:
convert

,#,freebase,w3,wikidata
2,<http://rdf.freebase.com/ns/m.0695j>\t<http://...,<http://rdf.freebase.com/ns/m.0695j>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q6718>
3,<http://rdf.freebase.com/ns/m.05nrg>\t<http://...,<http://rdf.freebase.com/ns/m.05nrg>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q538>
4,<http://rdf.freebase.com/ns/m.0jgd>\t<http://w...,<http://rdf.freebase.com/ns/m.0jgd>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q414>
5,<http://rdf.freebase.com/ns/m.0d_23>\t<http://...,<http://rdf.freebase.com/ns/m.0d_23>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q2537>
6,<http://rdf.freebase.com/ns/m.04g7d>\t<http://...,<http://rdf.freebase.com/ns/m.04g7d>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q315>
...,...,...,...,...
2099579,<http://rdf.freebase.com/ns/m.04mzslb>\t<http:...,<http://rdf.freebase.com/ns/m.04mzslb>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q11754906>
2099580,<http://rdf.freebase.com/ns/m.05zx856>\t<http:...,<http://rdf.freebase.com/ns/m.05zx856>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q10543247>
2099581,<http://rdf.freebase.com/ns/m.0cc5zk5>\t<http:...,<http://rdf.freebase.com/ns/m.0cc5zk5>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q1361612>
2099582,<http://rdf.freebase.com/ns/m.02x3sv_>\t<http:...,<http://rdf.freebase.com/ns/m.02x3sv_>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q4697097>
2099583,<http://rdf.freebase.com/ns/m.0h65lc7>\t<http:...,<http://rdf.freebase.com/ns/m.0h65lc7>,<http://www.w3.org/2002/07/owl#sameAs>,<http://www.wikidata.org/entity/Q5444866>

In [24]:
convert = convert[['freebase','wikidata']]

In [25]:
convert

,freebase,wikidata
2,<http://rdf.freebase.com/ns/m.0695j>,<http://www.wikidata.org/entity/Q6718>
3,<http://rdf.freebase.com/ns/m.05nrg>,<http://www.wikidata.org/entity/Q538>
4,<http://rdf.freebase.com/ns/m.0jgd>,<http://www.wikidata.org/entity/Q414>
5,<http://rdf.freebase.com/ns/m.0d_23>,<http://www.wikidata.org/entity/Q2537>
6,<http://rdf.freebase.com/ns/m.04g7d>,<http://www.wikidata.org/entity/Q315>
...,...,...
2099579,<http://rdf.freebase.com/ns/m.04mzslb>,<http://www.wikidata.org/entity/Q11754906>
2099580,<http://rdf.freebase.com/ns/m.05zx856>,<http://www.wikidata.org/entity/Q10543247>
2099581,<http://rdf.freebase.com/ns/m.0cc5zk5>,<http://www.wikidata.org/entity/Q1361612>
2099582,<http://rdf.freebase.com/ns/m.02x3sv_>,<http://www.wikidata.org/entity/Q4697097>
2099583,<http://rdf.freebase.com/ns/m.0h65lc7>,<http://www.wikidata.org/entity/Q5444866>

In [27]:
def stringfreebase(x):
    x = x[27:]
    x = x.replace('.','/')
    x = x.replace('>','')
    return x

In [28]:
def stringwikidata(x):
    x = x[32:]
    x = x.replace('>','')
    return x

In [29]:
table = pd.DataFrame(convert['freebase'].apply(stringfreebase))
table

           freebase
2          /m/0695j
3          /m/05nrg
4           /m/0jgd
5          /m/0d_23
6          /m/04g7d
...             ...
2099579  /m/04mzslb
2099580  /m/05zx856
2099581  /m/0cc5zk5
2099582  /m/02x3sv_
2099583  /m/0h65lc7

[2099582 rows x 1 columns]

In [30]:
table['wiki'] = convert['wikidata'].apply(stringwikidata)
table

           freebase       wiki
2          /m/0695j      Q6718
3          /m/05nrg       Q538
4           /m/0jgd       Q414
5          /m/0d_23      Q2537
6          /m/04g7d       Q315
...             ...        ...
2099579  /m/04mzslb  Q11754906
2099580  /m/05zx856  Q10543247
2099581  /m/0cc5zk5   Q1361612
2099582  /m/02x3sv_   Q4697097
2099583  /m/0h65lc7   Q5444866

[2099582 rows x 2 columns]

In [31]:
movies = movies.merge(table, left_on='Freebase_ID', right_on='freebase')
movies

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Length,language,Country,Genre,freebase,wiki
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",/m/03vyhn,Q261700
1,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",/m/0crgdbh,Q4978832
2,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",/m/01mrr1,Q869644
3,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen...",/m/03cfc81,Q3067285
4,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",/m/04jcqvw,Q7765318
...,...,...,...,...,...,...,...,...,...,...,...
45422,23851782,/m/06_vb43,The Ghost Train,1941-05-03,NaN,82.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",/m/06_vb43,Q7736298
45423,12095128,/m/02vppbd,My Love,NaN,NaN,26.0,"{""/m/06b_j"": ""Russian Language""}","{""/m/06bnz"": ""Russia""}","{""/m/02hmvc"": ""Short Film""}",/m/02vppbd,Q1700355
45424,32468537,/m/0crwd9y,Shadow Boxing 2,2007-10-18,NaN,132.0,"{""/m/06b_j"": ""Russian Language"", ""/m/02h40lc"":...","{""/m/06bnz"": ""Russia""}","{""/m/01z02hx"": ""Sports"", ""/m/0lsxr"": ""Crime Fi...",/m/0crwd9y,Q965863
45425,35228177,/m/0j7hxnt,Mermaids: The Body Found,2011-03-19,NaN,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama""}",/m/0j7hxnt,Q6819873
45426,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,1992-05-21,NaN,150.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/06n90"": ""Science Fiction"", ""/m/0gw5n2f"": ...",/m/03pcrp,Q2663931

In [32]:
from qwikidata.entity import WikidataItem, WikidataLexeme, WikidataProperty
from qwikidata.linked_data_interface import get_entity_dict_from_api

In [33]:
from wikidata.client import Client

In [34]:
client = Client()
entity = client.get('Q965863', load=True)

In [35]:
entity

In [36]:
spouse_prop = client.get('P1651')
spouse_prop = entity[spouse_prop]
spouse_prop

'avho1TREQ8o'

from wikidata.client import Client
client = Client()
entity = client.get('Q39829', load=True)

Spouse
spouse_prop = client.get('P26')
spouse = entity[spouse_prop]
print('Mother: ', spouse.label)

Children
child_prop = client.get('P40')
child = entity[child_prop]
print('Children: ', dir(child))
print(child.label)

In [37]:
movies[movies.Name == 'Iron Man']

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Length,language,Country,Genre,freebase,wiki
21205,17367782,/m/043plhx,Iron Man,1931-04-30,NaN,73.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/087lqx"": ""Pre-Code...",/m/043plhx,Q1758603
25975,5676692,/m/0dzlbx,Iron Man,2008-04-14,585174222.0,126.0,"{""/m/032f6"": ""Persian Language"", ""/m/0jzc"": ""A...","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",/m/0dzlbx,Q192724

In [38]:
client = Client()
entity = client.get('Q192724', load=True)

In [39]:
spouse_prop = client.get('P444')
spouse_prop = entity[spouse_prop]
spouse_prop

'79/100'

In [40]:
entity

In [41]:
from wikidata2df import wikidata2df

cat_query = """
#Cats
SELECT ?item ?itemLabel
WHERE
{
?item wdt:P31 wd:Q146.
SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
"""

cats_dataframe = wikidata2df(cat_query)

In [42]:
cats_dataframe

                   itemLabel        item
0                         CC     Q378619
1                     Muezza     Q498787
2                    Orangey     Q677525
3                Mrs. Chippy     Q851190
4             Unsinkable Sam     Q893453
..                       ...         ...
154                    Jorts  Q110565455
155                   Willow  Q110727478
156  the cat from Borodianka  Q112152493
157               11 kitties  Q113512285
158                      Gli  Q114569446

[159 rows x 2 columns]

In [43]:
from wikidata2df import wikidata2df

cat_query = """
#Cats
SELECT ?item wdt:P577 wd:Q192724.
"""

cats_dataframe = wikidata2df(cat_query)

HTTPError: 400 Client Error: Bad Request for url: https://query.wikidata.org/sparql?query=%0A%23Cats%0ASELECT+%3Fitem+wdt%3AP577+wd%3AQ192724.%0A

In [44]:
client = Client()
entity = client.get('Q192724', load=True)
spouse_prop = client.get('577')
spouse_prop = entity[spouse_prop]
spouse_prop

AssertionError:

In [46]:
film_query = """
SELECT ?item ?itemLabel
WHERE {
SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE]". }
{
SELECT DISTINCT ?item WHERE {
?item p:P444 ?statement0.
?statement0 (ps:P444) _:anyValueP444.
?item p:P31 ?statement1.
?statement1 (ps:P31/(wdt:P279*)) wd:Q11424.
}
}
}
"""

In [53]:
film_df = wikidata2df(film_query)

In [54]:
film_df

       itemLabel       item
0        Q253566    Q253566
1        Q253565    Q253565
2        Q255328    Q255328
3        Q255376    Q255376
4        Q259332    Q259332
...          ...        ...
24543  Q29344687  Q29344687
24544  Q29363978  Q29363978
24545  Q29388552  Q29388552
24546  Q29391000  Q29391000
24547  Q29466808  Q29466808

[24548 rows x 2 columns]

In [76]:
mergedall = movies.merge(film_df,left_on='wiki',right_on='item')
mergedall = mergedall.drop(columns=['item','itemLabel','freebase'])
mergedall

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Length,language,Country,Genre,wiki
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",Q261700
1,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",Q1619977
2,2345652,/m/075f66,City of the Dead,1960,NaN,76.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatur...",Q194106
3,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",Q114115
4,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",Q209170
...,...,...,...,...,...,...,...,...,...,...
13337,54540,/m/0f7hw,Coming to America,1988-06-29,288752301.0,117.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/03p5xs"": ""...",Q493755
13338,1673588,/m/05mc7l,The Brother from Another Planet,1984-09-07,NaN,104.0,"{""/m/02h40lc"": ""English Language"", ""/m/06nm1"":...","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/0219x_"": ""...",Q955416
13339,7761830,/m/0kvgqb,Spaced Invaders,1990,15369573.0,100.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3mt0"": ""Alien Film"", ""/m/06n90"": ""Scie...",Q1320234
13340,1918494,/m/0660qx,State and Main,2000-08-26,6944471.0,106.0,"{""/m/02bjrlw"": ""Italian Language"", ""/m/02h40lc...","{""/m/0f8l9c"": ""France"", ""/m/09c7w0"": ""United S...","{""/m/0gf28"": ""Parody"", ""/m/09n5t_"": ""Americana...",Q960668
13341,664006,/m/030xw6,Guilty as Sin,1993-06-04,22886222.0,107.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",Q387868

In [81]:
def getdata(x):
    client = Client()
    entity = client.get(x, load=True)
    spouse_prop = client.get('P444')
    spouse_prop = entity[spouse_prop]
    return spouse_prop

In [82]:
mergedall['score'] = mergedall.wiki.apply(getdata)

KeyboardInterrupt:

In [73]:
mergedtest = mergedall.sample(10)
mergedtest['score'] = mergedtest.wiki.apply(getdata)
mergedtest

,Wiki_ID,Freebase_ID,Name,Release_Date,Box_Office_Revenue,Length,language,Country,Genre,freebase,wiki,itemLabel,item,score
2818,9900396,/m/02pwcp_,Executioners,1993-09-30,NaN,97.0,"{""/m/012w70"": ""Cantonese""}","{""/m/03h64"": ""Hong Kong""}","{""/m/03q4nz"": ""World cinema"", ""/m/04pbhw"": ""Su...",/m/02pwcp_,Q245815,Q245815,Q245815,80%
200,5876575,/m/0fb9lq,K2,1992,3043000.0,104.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03btsm8"": ""Action/Adventure"", ""/m/01z02hx...",/m/0fb9lq,Q1718337,Q1718337,Q1718337,29%
3820,292956,/m/01qv2_,The Manxman,1929-12-06,NaN,90.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/07ssc"": ""United Kingdom""}","{""/m/06ppq"": ""Silent film"", ""/m/07s9rl0"": ""Dra...",/m/01qv2_,Q1195706,Q1195706,Q1195706,92%
907,176545,/m/017yv4,The Seventh Seal,1957-02-16,NaN,96.0,"{""/m/06mp7"": ""Swedish Language"", ""/m/04h9h"": ""...","{""/m/0d0vqn"": ""Sweden""}","{""/m/02n4lw"": ""Art film"", ""/m/03q4nz"": ""World ...",/m/017yv4,Q217189,Q217189,Q217189,94%
7161,3406838,/m/099wbj,The Thief of Bagdad,1940-12-05,NaN,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/03k9fj"": ""Adventure"", ""/m/04xvh5"": ""Costu...",/m/099wbj,Q463716,Q463716,Q463716,100%
1021,3463364,/m/09dv8h,High School Musical,2006-01-20,NaN,97.0,"{""/m/02h40lc"": ""English Language"", ""/m/06nm1"":...","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02h8pkk"": ...",/m/09dv8h,Q53110,Q53110,Q53110,65%
2031,9597495,/m/02plbgx,Auntie Mame,1958-12-27,NaN,143.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/01z4y"": ""Comedy"", ...",/m/02plbgx,Q1219582,Q1219582,Q1219582,93%
9591,16839388,/m/0407yj_,Cars 2,2011-06-18,559852396.0,106.0,"{""/m/064_8sq"": ""French Language"", ""/m/03_9r"": ...","{""/m/09c7w0"": ""United States of America""}","{""/m/03k9fj"": ""Adventure"", ""/m/0hj3myq"": ""Chil...",/m/0407yj_,Q192212,Q192212,Q192212,40%
243,20629940,/m/051zpx6,Not Easily Broken,2009-01-09,10708890.0,100.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0fx2s"": ""Tragedy"", ""/m/07s9rl0"": ""Drama"",...",/m/051zpx6,Q7062066,Q7062066,Q7062066,31%
5624,2337281,/m/074r6w,Fast Company,1979-03-18,NaN,90.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01z02hx"": ""Sports"", ""/m/017fp"": ""Biograph...",/m/074r6w,Q163896,Q163896,Q163896,88%

In [ ]:
SELECT DISTINCT ?item ?itemLabel WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE]". }
  {
    SELECT DISTINCT ?item WHERE {
      ?item p:P444 ?statement0.
      ?statement0 (ps:P444) _:anyValueP444.
      ?item p:P31 ?statement1.
      ?statement1 (ps:P31/(wdt:P279*)) wd:Q11424.
    }
  }
}

In [2]:
import pywikibot

In [3]:
site = pywikibot.Site("wikidata", "wikidata")
repo = site.data_repository()
item = pywikibot.ItemPage(repo, "Q42")

In [4]:

site = pywikibot.Site("en", "wikipedia")
page = pywikibot.Page(site, "Douglas Adams")
item = pywikibot.ItemPage.fromPage(page)

print(item)

[[wikidata:Q42]]